h1, h2 {
    color: steelblue;
}
h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    color: darkgray;
}

label span, .selectize-dropdown, .selectize-input {
    font-size: 10px;
}

label.control-label {
    font-size: 1.2em;
    font-weight: 800;
    color: darkgray;
}

tfoot {
    display: table-header-group;
}

table {
    font-size: 11px;
}

.text-small {
    font-size: 12px;
    font-style: italic;
}